.btn_bar {
    height: 35px;
    width: 65px;
    position: relative;
    left: 15%;
    top : 25%;
}

.first_row{
    height: fit-content;
    margin-right: -14px;
    border-bottom: solid;
    border-top: solid;
    border-width: thin;
    border-color: lightslategrey;
}

.inv_system{
    width: 65%;
    height: 100%;
}

.h1-class-inv{
    font-family: Foldit;
    font-size: 200%;
    line-height: 2em;
    margin: 0;
    width: 100%;
    height: 100%;
}

.row{
 margin-right :0;
 margin-left  :0;
}

.second_row{
    height: 1000px;
   /* overflow-y: scroll;
    overflow-x: hidden;*/
}
.div-col-menu{
    border-right: 6px solid #D14D72;
    position: relative;
    top: 60px;
}
.div-col-content{
position: relative;
    top: 60px;
}

.dropdown-menu {
    background-color: #b1aaaa;
}

a{
    -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    transition: border-bottom-color 0.2s ease, color 0.2s ease;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.25);
    color: #3A98B9;
    text-decoration: none;
}